<section class="banner">
  <div class="container">
    <div class="banner-box">
      <h1>Verilerinizi en iyi şekilde eğitin ve nasıl yapıldığını öğrenin.</h1>
      <h2>Uygulama kullanımı için video eğitimleri.</h2>
      <a href="#" class="btn">Öğrenmek için tıklayın.</a>
    </div>
    <div class="banner-box banner-image">
      <a href="#">
        <img src="./assets/images/machine_learning.jpeg" alt="">
      </a>
    </div>
  </div>
</section>

<div class="container">
  <section class="section1">
    <div class="algorithms">
      <a href="#">
        <img src="./assets/images/algorithms/Bayesian-Ridge-Regression.png" alt="">
        <span class="title">Bayesian Ridge Regresion</span>
      </a>
      <a href="#">
        <img src="./assets/images/algorithms/decision-trees.jpg" alt="">
        <span class="title">Decision Trees</span>
      </a>
      <a href="#">
        <img src="./assets/images/algorithms/Gaussian-Naive-Bayes.png" alt="">
        <span class="title">Gaussian Naive Bayes</span>
      </a>
      <a href="#">
        <img src="./assets/images/algorithms/KNN.png" alt="">
        <span class="title">KNN</span>
      </a>
      <a href="#">
        <img src="./assets/images/algorithms/lasso-regression.jpg" alt="">
        <span class="title">Lasso Regression</span>
      </a>
      <a href="#">
        <img src="./assets/images/algorithms/logistic-regression.jpeg" alt="">
        <span class="title">Logistic Regression</span>
      </a>
      <a href="#">
        <img src="./assets/images/algorithms/SGD-regression.png" alt="">
        <span class="title">SGD Regression</span>
      </a>
      <a href="#">
        <img src="./assets/images/algorithms/SVM.png" alt="">
        <span class="title">Support Vector Machine</span>
      </a>
    </div>
    <div class="inner">
      <h3>Makine Öğrenmesi Nedir, Ne İşe Yarar?</h3>
      <p>
        Matematiksel ve istatistiksel işlemler ile veriler üzerinden çıkarımlar yaparak tahminlerde bulunan sistemlerin
        bilgisayarlar ile modellenmesine verilen isimdir.
        Daha anlaşılır bir şekilde ifade etmek gerekirse; eski tecrübe niteliğindeki verileri kullanarak yeni durumlarla
        ilgili çıkarımlar ve tahminler yapmaktır. Tabi burada tecrübe dediğimiz şey veridir.
      </p>
      <p>
        Mesela, sosyal medya uygulamalarında ana sayfada çıkan gönderiler ve ayrıca bize önerilen profil ve sayfalar en
        bilindik örnek olsa gerek. Girdiğimiz sayfalar, beğendiğimiz gönderiler gibi pek çok faktör yapay zeka
        tarafından analiz ediliyor ve önerilenler karşımıza çıkıyor.
      </p>
      <span style="color:#ffffff; background-color: brown; padding-right: 2px;">#</span>
      <p style="display: inline;">
        Ortalama bir insanın yapamayacağı kadar hızlı şekilde çeşitli hesaplamaları ve analizleri yapmamızı sağlar.
      </p>
      <br>
      <br>
      <span style="color:#ffffff; background-color: brown; padding-right: 2px;">#</span>
      <p style="display: inline;">
        Gereksiz iş gücünü ortadan kaldırarak maliyetleri düşürmemizi sağlar. (Tabi işsizliğin dünya çapında artmasında
        ve kimi mesleklerin gelecekte yok olmasında dolaylı bir etkisi vardır.)
      </p>
      <br>
      <br>
      <span style="color:#ffffff; background-color: brown; padding-right: 2px;">#</span>
      <p style="display: inline;">
        Dünyadan ilgili güncel verileri toplamamızı ve saklamamızı sağlar. Unutmayın ki bilgi güçtür. (İnsanların neyden
        hoşlandıkları gibi basit bir bilgi üzerinden bile bir firma ciddi bir şekilde gelirlerini arttırabilir.)
      </p>
      <br>
      <br>
      <span style="color:#ffffff; background-color: brown; padding-right: 2px;">#</span>
      <p style="display: inline;">
        Verileri görsel hale getirmemize yani kolaylıkla inceleyip analiz edebileceğimiz bir forma sokmamızı sağlar.
      </p>
    </div>
  </section>

  <section class="section2">
    <h3>AML Nedir?</h3>
    <p>
      AML(Authomatic Machine Learning), adından da anlaşılacağı üzere otomatik makine öğrenmesi siz kullanıcılarımıza
      verilerinizi eğitmek için bir web ortamı sunuyoruz.
    </p>
    <p>
      Bu platformda makine öğrenmesi ve kodlama hakkında az veya bilgisi olmayan kişilere getirdikleri verileri uygun
      makine öğrenmesi algoritmalarını seçerek eğitiyoruz ve sonuçlarını size gösteriyoruz.
    </p>
  </section>


</div>
