html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: #F4F7F9;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  border-radius: 4px;
  background: #316aff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 200ms all;
}

.btn.color-green {
  background: #36855b;
}

.btn:hover {
  transform: scale(1.05);
}



/*
    BANNER SECTION
*/
.banner {
//background: linear-gradient(170deg, #212A39, #181E28);
  background:#102230;
}

.banner .container {
  min-height: 50vh;
  display: flex;
  padding: 70px 0;
  align-items: center;
}

.banner .container .banner-box {
  width: 50%;
  box-sizing: border-box;
}

.banner .container .banner-box.banner-image a {
  transition: 200ms transform;
  display: block;
}

.banner .container .banner-box img {
  max-width: 100%;
}

.banner .container .banner-box.banner-image a:hover {
  transform: scale(1.05);
}

.banner .container .banner-box.banner-image {
  padding-left: 100px;
}

.banner .container .banner-box h1 {
  font-size: 40px;
  color: rgb(248, 247, 247);
  line-height: 50px;
  font-weight: 400;
}

.banner .container .banner-box h2 {
  font-size: 22px;
  color: #B0B6BE;
  margin-top: 30px;
}

.banner .container .banner-box .btn {
  margin-top: 20px;
}

/*
    SECTION 1
*/

.section1 {
  display: flex;
  align-items: center;
  padding: 120px 0 100px;
}

.section1 .algorithms {
  display: flex;
  width: 392px;
  min-width: 392px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section1 .algorithms a {
  width: 165px;
  height: 165px;
  background: white;
  border-radius: 4px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
  transition: 200ms all;
}

.section1 .algorithms a:hover {
  transform: scale(1.05);
}

.section1 .algorithms a img {
  margin-bottom: 20px;
  height: 120px;
  width: 120px;
}

.section1 .algorithms a .title {
  font-size: 13px;
  color: #111;
  bottom: 10px;
}

.section1 .inner {
  padding-left: 160px;
}

.section1 .inner h3 {
  font-size: 36px;
//color: #111;
  color: #99B7B5;
  margin-bottom: 30px;
  line-height: 36px;
}

.section1 .inner p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 24px;
}

/*
    SECTION 2
*/
.section2 {
  background: #fff;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
  padding: 64px 64px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}


.section2 h3 {
  font: 36px georgia, times, serif;
//color: #111;
  color: brown;
  margin-bottom: 30px;
  line-height: 36px;
}
.section2 p {
  font: 22px/36px georgia, times, serif;
  margin-bottom: 10px;
  text-align: center;
  max-width: 60%;
  color: rgb(31,32,44);
}



