<footer>
  <section class="footer-main d-flex flex-row flex-wrap justify-content-md-between justify-content-lg-around">
    <div class="footer-main-item">
      <h2 class="footer-title">Hakkımızda</h2>
      <ul>
        <li><a href="#">Servisler</a></li>
        <li><a href="#">Portoffolyo</a></li>
        <li><a href="#">Ücretlendirmeler</a></li>
      </ul>
    </div>
    <div class="footer-main-item">
      <h2 class="footer-title">Kaynaklar</h2>
      <ul>
        <li><a href="#">Hakan</a></li>
        <li><a href="#">Muhammet</a></li>
        <li><a href="#">Rayan</a></li>
        <li><a href="#">Mahsun</a></li>
      </ul>
    </div>
    <div class="footer-main-item">
      <h2 class="footer-title">İletişim</h2>
      <ul>
        <li><a href="#">Bla bla</a></li>
        <li><a href="#">Lba lba</a></li>
        <li><a href="#">Lorem Ipsum Dolor</a></li>
      </ul>
    </div>
    <div class="footer-main-item">
      <h2 class="footer-title">Güncel kalın</h2>
      <p>Eposta listemize abone olun</p>
      <form class="d-flex flex-row flex-wrap justify-content-center align-items-center">
        <mat-form-field appearance="outline">
          <mat-label>E-posta</mat-label>
          <input matInput placeholder="ornek@mail.com" type="email">
          <mat-hint>Sadece ayda bir mail</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="accent">Abone ol</button>
      </form>
    </div>
  </section>
  <section class="footer-social">
    <ul class="footer-social-list d-flex flex-row align-items-center">
      <li><a href="#"><img src="assets/logo/social-media/facebook.png" alt=""></a></li>
      <li><a href="#"><img src="assets/logo/social-media/twitter.png" alt=""></a></li>
      <li><a href="#"><img src="assets/logo/social-media/instagram.png" alt=""></a></li>
      <li><a href="#"><img src="assets/logo/social-media/linkedin.png" alt=""></a></li>
      <li><a href="#"><img src="assets/logo/social-media/youtube.png" alt=""></a></li>
    </ul>
  </section>
  <section class="footer-legal">
    <ul class="footer-legal-list d-flex flex-wrap">
      <li><a href="#">Şarlar &amp; Koşullar</a></li>
      <li><a href="#">Gizlilik Politikası</a></li>
      <li class="flex-grow-1"></li>
      <li>&copy; 2020 Copyright</li>
    </ul>
  </section>
</footer>
